:root {
    --back-primary: #16181c;
    --back-secondary: #242832;
    --back-highlight: #262b374f;
    --back-field: #30394c;
    --back-field-highlight: #3b4760;
    --back-field-selected: var(--back-pink-dk);
    --back-interact: #4a5e8d;
    --back-interact-secondary: #839df9;
    --back-pink: #fc6399;
    --back-pink-dk: #ea377a;
    --back-btn-toggled-text: #fff;
    --back-text: #badefc;
    --back-text-review: #ccdbf1;
    --back-text-secondary: #8f9ca7;
    --back-text-disabled: #8f9ca761;
    --back-link: #cbd4dc;
    --back-type-completed: #43b94f;
    --back-type-mastered: #8d58af;
    --back-type-abandoned: #ea4747;
    --back-type-retired: #4b7bd4;
    --back-type-shelved: #e69b3e;
    --back-type-played: var(--back-pink-dk);
    --back-played: var(--back-pink-dk);
    --back-playing: #856fef;
    --back-wishlist: #70a9c8;
    --back-backlog: #efe36f;
    --back-field-background: #272c37;
    --back-field-border: #3b414e;
    --back-field-border-hover: #3f4b64;
    --back-field-border-focus: var(--back-interact-secondary);
    --back-field-placeholder: #c5d7e747;
    --back-field-icon: var(--back-field-border);
    --back-field-icon-secondary: var(--back-field-border-hover);
}

/* Reset & Base */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: var(--back-primary);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: white;
    font-weight: 500;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: var(--back-link);
    padding: 8px;
}

/* Layout containers */

.nav-container,
.main-container {
    width: 60%;
    min-width: 1040px;
    margin: 0 auto;
    padding: 0 15px;
    height: 38px;
}

/* Navbar */

.navbar {
    width: 100%;
    padding: 8px 16px;
    font-size: 11pt;
    font-weight: 500;
}

.nav-container,
.nav-right,
.nav-list,
.nav-link-dropdown,
.nav-link-games,
.nav-link-notification,
.search-container {
    display: flex;
    align-items: center;
}

.nav-container {
    flex-wrap: nowrap;
}

.nav-right {
    width: 100%;
    justify-content: flex-end;
    gap: 8px;
    height: 38px;
}

.nav-list {
    list-style: none;
    padding-left: 0;
}

.logo {
    margin-right: 8px;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}

/* Nav links */

.nav-link-dropdown,
.nav-link-games,
.nav-link-notification {
    gap: 4px;
}

.nav-link-notification {
    padding: 8px 4px 8px 0;
}

.nav-link-notification img {
    position: relative;
    top: -2px;
    width: 22px;
    height: 22px;
}

.nav-link-dropdown img {
    width: 18px;
    height: 18px;
}

/* Search */

.search-bar,
.search-btn {
    height: 33px;
    padding: 5px;
    font-size: 13pt;
    font-weight: 500;
    border: 0;
    background-color: var(--back-field-background);
    color: #fff;
}

.search-bar {
    max-width: 185px;
    border-radius: 0.25rem 0 0 0.25rem;
}

.search-bar:focus {
    outline: none;
}

.search-btn {
    width: 32px;
    border-radius: 0 0.25rem 0.25rem 0;
}

.search-btn img {
    width: 16px;
    height: 16px;
}

/* Button */

.add-a-game-btn {
    height: 33px;
    padding: 0 12px;
    font-size: 16px;
    min-width: 130px;
    font-weight: 500;
    color: white;
    border-radius: .25rem;
    border: 1px solid transparent;
    background-color: var(--back-pink-dk);
}

.add-a-game-btn:hover {
    background-color: var(--back-pink);
    cursor: pointer;
}

.add-a-game-btn::before {
    content: "+";
}

/* Profile */

.profile-header {
    display: flex;
    align-items: center;
    margin: 16px auto;
    padding: 0 10px;
}

.profile-header > img {
    width: 95px;
    height: 95px;
    border-radius: 6px;
}

.profile-rows {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95px;
    margin: 3.7px 0;
}

.profile-rows > div {
    flex: 1;
}

.profile-top-row {
    font-size: 24px;
}

.profile-top-row h3,
.profile-bottom-row,
.profile-link {
    padding: 0 15px;
}

/* Links */

.profile-middle-row * {
    font-size: .9rem;
    font-weight: 400;
    color: var(--back-link);
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Icons */

.steam img { width: 15px; height: 14px; }
.twitter img { width: 15px; height: 12.61px; }
.letterboxd img { width: 15px; height: 18px; }

/* Buttons */

.btn {
    border: 1px solid transparent;
    border-radius: 4px;
}

.profile-edit-btn {
    padding: 6px 12px;
    font-size: .9rem;
    font-weight: 400;
    color: var(--back-link);
    background-color: var(--back-field);
    transition: background-color 0.3s ease;
}

.profile-edit-btn:hover {
    background-color: var(--back-pink-dk);
    cursor: pointer;
}

.profile-copy-btn {
    background: transparent;
}

.profile-copy-btn img {
    width: 13px;
    height: 13px;
}