:root {
    --back-primary: #16181c;
    --back-secondary: #242832;
    --back-highlight: #262b374f;
    --back-field: #30394c;
    --back-field-highlight: #3b4760;
    --back-field-selected: var(--back-pink-dk);
    --back-interact: #4a5e8d;
    --back-interact-secondary: #839df9;
    --back-pink: #fc6399;
    --back-pink-dk: #ea377a;
    --back-btn-toggled-text: #fff;
    --back-text: #badefc;
    --back-text-review: #ccdbf1;
    --back-text-secondary: #8f9ca7;
    --back-text-disabled: #8f9ca761;
    --back-link: #cbd4dc;
    --back-type-completed: #43b94f;
    --back-type-mastered: #8d58af;
    --back-type-abandoned: #ea4747;
    --back-type-retired: #4b7bd4;
    --back-type-shelved: #e69b3e;
    --back-type-played: var(--back-pink-dk);
    --back-played: var(--back-pink-dk);
    --back-playing: #856fef;
    --back-wishlist: #70a9c8;
    --back-backlog: #efe36f;
    --back-field-background: #272c37;
    --back-field-border: #3b414e;
    --back-field-border-hover: #3f4b64;
    --back-field-border-focus: var(--back-interact-secondary);
    --back-field-placeholder: #c5d7e747;
    --back-field-icon: var(--back-field-border);
    --back-field-icon-secondary: var(--back-field-border-hover);
}

/* Reset & Base */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: var(--back-primary);
    color: var(--back-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: white;
    font-weight: 500;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: var(--back-link);
}



/* Layout containers */

.nav-container,
.profile-nav {
    margin: 0 auto;
    height: 38px;
    max-width: 1140px;
}

.main-container,
.main-content {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
}

.main-content {
    margin-top: 16px;
    display: flex;
}

/* Navbar */

.navbar {
    width: 100%;
    padding: 8px 16px;
    font-size: 11pt;
    font-weight: 500;
}

.nav-container,
.nav-right,
.nav-list,
.nav-link-dropdown,
.nav-link-games,
.nav-link-notification,
.search-container {
    display: flex;
    align-items: center;
}

.nav-link-games:hover,
.nav-link-dropdown:hover,
.nav-link-notification:hover,
.search-btn i:hover,
.profile-nav-links:hover,
.profile-link:hover,
.profile-copy-btn i:hover {
    color: var(--back-btn-toggled-text);
    cursor: pointer;
}

.nav-container {
    flex-wrap: nowrap;
}

.nav-right {
    width: 100%;
    justify-content: flex-end;
    gap: 8px;
    min-height: 38px;
}

.nav-list {
    list-style: none;
    padding-left: 0;
}

.nav-list a {
    padding: 8px;
}

.logo {
    margin-right: 8px;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    margin-left: 15px;
}

.profile-nav {
    display: flex;
    height: 32px;
    background-color: var(--back-secondary);
    border-radius: 4px;
    align-items: center;
    margin: 0 15px;
}

.profile-nav-itens {
    padding: 0 4px;
}

.profile-nav-links {
    margin: 0 5px;
    padding: 0 12px;
    font-size: 1rem;
    position: relative;
    font-weight: 500;
    display: inline-block;
}

.profile-nav-links:hover .selected-bar {
    display: block;
}

.selected-bar {
    background-color: var(--back-interact);
    display: none;
    border-radius: 4px;
    bottom: -7px;
    height: 3px;
    position: absolute;
    right: 25%;
    width: 56%;
}

.selected-bar.pink {
    display: block;
    background-color: var(--back-pink);
}

/* Nav links */

.nav-link-dropdown,
.nav-link-games,
.nav-link-notification {
    gap: 4px;
}

.nav-link-notification {
    padding: 8px 4px 8px 0;
}

.fa-bell {
    font-size: 19px;
}

.fa-chevron-down {
    font-size: 12px;
}

/* Search */

.search-bar,
.search-btn {
    height: 33px;
    padding: 5px;
    font-size: 13pt;
    font-weight: 500;
    border: 0;
    background-color: var(--back-field-background);
    color: #fff;
}

.search-bar {
    max-width: 185px;
    border-radius: 0.25rem 0 0 0.25rem;
}

.search-bar:focus {
    outline: none;
}

.search-btn {
    width: 32px;
    border-radius: 0 0.25rem 0.25rem 0;
}

.fa-magnifying-glass {
    font-size: 16px;
    color: var(--back-link);
}

/* Button */

.add-a-game-btn {
    height: 33px;
    padding: 0 12px;
    font-size: 16px;
    min-width: 130px;
    font-weight: 500;
    color: white;
    border-radius: .25rem;
    border: 1px solid transparent;
    background-color: var(--back-pink-dk);
    margin-right: 15px;
}

.add-a-game-btn:hover {
    background-color: var(--back-pink);
    cursor: pointer;
}

.fa-plus {
    font-size: 14px;
}

/* Profile */

.profile-header {
    display: flex;
    align-items: center;
    margin: 16px 15px;
}

.profile-header>img {
    width: 95px;
    height: 95px;
    border-radius: 6px;
}

.profile-rows {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95px;
    margin: 3.7px 0;
}

.profile-rows>div {
    flex: 1;
}

.profile-top-row {
    font-size: 24px;
}

.profile-top-row h3,
.profile-bottom-row,
.profile-link {
    padding: 0 15px;
}

.profile-link {
    display: flex;
    align-items: center;
    gap: 3px;
}

/* Links */

.profile-middle-row * {
    font-size: .9rem;
    font-weight: 400;
    color: var(--back-link);
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-middle-row {
    display: flex;
    align-items: center;
}

/* Icons */

.steam img {
    width: 15px;
    height: 14px;
}

.twitter img {
    width: 15px;
    height: 12.61px;
}

.fa-letterboxd {
    font-size: 15px;
    color: var(--back-link);
}

/* Buttons */

.btn {
    border: 1px solid transparent;
    border-radius: 4px;
}

.profile-edit-btn {
    padding: 3px 6px;
    font-size: .9rem;
    font-weight: 400;
    width: 106px;
    height: 26px;
    color: var(--back-link);
    background-color: var(--back-field);
    transition: background-color 0.3s ease;
}

.profile-edit-btn:hover {
    background-color: var(--back-pink-dk);
    cursor: pointer;
}

.profile-copy-btn {
    background: transparent;
    padding: 0 15px 0 4px;
    margin-left: 10px;
}

.fa-link {
    font-size: 12px;
    color: var(--back-link);
}

/*Profile Sidebar*/

.profile-sidebar {
    width: 190px;
    padding: 0 15px;
    height: 100vh;
}

.profile-sidebar,
.sidebar-title {
    display: block;
    font-weight: 200;
    margin: 0;
    height: 24px;
}

.sidebar-bio {
    margin-bottom: 1rem !important;
}

.hr {
    margin-top: 0 !important;
    margin-bottom: 0.5rem !important;
}

.bio-text {
    color: hsla(0, 0%, 100%, .82);
    display: block;
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 0;
    overflow: hidden;
    overflow-wrap: break-word;
    position: relative;
    line-height: 1.2rem;
}

hr {
    border-color: rgba(162, 177, 229, .2);
}

/* Rating */

.rating-table {
    min-height: 70px;
    text-align: center;
    height: 70px;
    display: flex;
}

.rating-bar {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    height: 70px;
    display: flex;
    flex-direction: column;
}

.bar-h {
    background-color: var(--back-pink);
    border-radius: 5px;
    bottom: 0;
    width: calc(100% - 2px);
    margin-top: auto;
    transition: background-color 0.3s ease;
}

.bar-h:hover {
    background-color: var(--back-pink-dk);
    cursor: pointer;
}

.empty {
    height: 1%;
    background-color: hsla(0, 0%, 59%, .212);
    border-radius: 5px;
    width: calc(100% - 2px);
    box-sizing: border-box;
}

.rating-stars {
    display: flex;
    font-size: .9rem;
    font-weight: 200;
    line-height: normal;
    color: var(--back-text-secondary);
}

.star-right,
.star-left {
    flex-basis: 0;
    flex-grow: 1;
}

.star-right {
    text-align: right;
}

/* Badges */

.sidebar-title.badges {
    margin-top: 2rem !important;
}

.badges-container {
    display: flex;
    margin-bottom: .5rem !important;
    height: 40px;
}

.badge {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    padding: 1px;
}

.badge img {
    width: 38px;
    height: 38px;
    object-fit: contain;
    border-radius: 4px;
    display: block;

    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.sidebar-link-container {
    display: flex;
    justify-content: center;
}

.sidebar-link {
    color: var(--back-link);
    font-size: .9rem;
    font-weight: 400;
    display: block;
    margin-bottom: 0.5rem;
}

.sidebar-link:hover {
    color: #fff;
}

/* Profile Games Display */

.profile-games-display {
    padding: 0 15px 0 24px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.favorite-logo {
    font-size: 2rem !important;
    color: var(--back-text);
}

.favorite-games-row {
    display: flex;
    flex-wrap: wrap;
}

.profile-games-row {
    padding: 0 -4px 16px;
}

.favorite-games-item {
    display: block;
    position: relative;
    margin: 0 0 8px;
    padding: 0 4px;
}

.space-between-game {
    margin: 0 -15px 4px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-card {
    position: relative;
    display: block;
    overflow: hidden;
    border: 1px solid var(--back-field);
    border-radius: 5px;
    width: 174px;
    height: 234px;
}

.game-card.favorite {
    border-color: var(--back-type-shelved);
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0);
    border-radius: 5px;
    transition: background 0.3s ease;
    z-index: 1;
}

.favorite-games-item:hover .overlay {
    background: rgba(0,0,0,0.6);
}

.game-cover {
    border-radius: 5px;
    position: relative;
    height: 234px;
    width: 174px;
    transition: filter 0.3s ease, border 0.3s ease;
}

.quickacess-bar {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 6px;
    padding: 6px 10px;

    background-color: var(--back-secondary);
    border: 1px solid var(--back-field-highlight);
    border-radius: 5px;

    opacity: 0;
    transition: opacity 0.3s ease;

    z-index: 2;
}

.fa-crown {
    color: var(--back-type-shelved);
    margin-bottom: .25rem !important;
}

.game-title {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;

    white-space: nowrap;
    font-weight: bold;
    color: white;
    font-size: 14px;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.favorite-games-item:hover .game-title {
    opacity: 1;
}

.favorite-games-item:hover .game-cover {
    border-color: var(--back-field-highlight);
}

.favorite-games-item:hover .quickacess-bar {
    opacity: 1;
}

.quickacess-btn {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: var(--back-field-highlight);
}

.fa-gamepad {
    color: var(--back-type-completed);
}